.square {
  height: 50px;
  width: 50px;
  font-family: 'Times New Roman', Times, serif;

}
.board-row{
  display:flex;
  /* position: fixed;
  left: 50%; */
}

.gameinfo{
  position: relative;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


